.info ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.info li{
    padding: 0 20px;
    font-size: 18px;
}

.add_bor {
    border: none;
    width: 100px;
<<<<<<< HEAD
}



@media only screen and (max-width: 767px) and (min-width: 280px)  {
    .info ul {
        padding: 0;
    }
    
    button.btn.btn-primary.buy.px-3.ml-2 {
        margin-top: 20px;
    }
    
    }
=======
}
>>>>>>> 1fe8341fa44ded06e4e9fd326c581ebdce9bf057
